* {
  margin: 0%;
  padding: 0%;
}

.categories-container {
  display: flex;
  margin: 20px;
  border: 4px solid blue;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 100px;
  margin-right: 100px;
}

.image-container {
  width: 30%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.details-container {
  width: 70%;
  padding: 8px;
  position: relative;
  height: 180px;
  padding: 24px;
  overflow-y: auto; // Adds vertical scrollbar if content overflows
  overflow-x: hidden; // Hides horizontal scrollbar

  // Optional: Customize scrollbar appearance (WebKit browsers)
  &::-webkit-scrollbar {
    width: 8px; // Width of the scrollbar
    display: hidden;
  }
}

.explore-heading {
  font-weight: bold;
  font-size: 24px;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 50px;
  height: 30px;
}

.description {
  padding-right: 20px;
  padding-left: 20px;
}

.learn-more-butt {
  background-color: blue;
  color: orange;
  position: sticky;
  left: 2000px;
  bottom: 100px;
  height: 40px;
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1;
}

.explore-heading {
  font-size: 40px;
  margin: 20px;
}
